<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>Repository</id>
      <username>~~~Client~~~</username> 
      <password>f0d739799f4145b99ed48eb8907c0f07~?~4bF56D5e755B4e32b6cf4fa9444ddF90</password>
    </server>
  </servers>
</settings>
